body {
    font-family: sans-serif;
    /*background-color: lightgrey;*/
    background-color: #fff;
      margin-top: 22px;;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 100%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.menu {
    padding :25px;
}
.menu ul {
    list-style-type: none;
    padding: 17px;
}
/*.menu ul li{*/
/*    float: left;*/
/*    padding: 20px;*/
/*    margin-left: 5px;*/
/*}*/
.menu ul  a 
{
 color: rgb(150, 70, 41);
	text-decoration: none;
  position: static;
}
.menu ul a:hover
{
  color: black;

}

/*.container{*/
/*        max-width: 800px;*/
/*        margin: 0 auto;*/
/*        color: #525265;*/
/*        font-family: sans-serif;*/
/*        padding-left: 20px;*/
/*        padding-right: 20px;*/
/*        }*/
        